label,
input,
button,
select,
textarea {
	font-family: 'Asap', sans-serif;
}
.c {
	clear: both;
}


.login {
	background: url(image/bg-noise.jpg) repeat;
}
.login label {
	font-size: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	font-family: 'Righteous', cursive;
	color: #666;
}
.login .logo {
	margin-top: 140px;
	font-size: 2.5em;
	color: #333;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 1), 0 -1px 0 rgba(0, 0, 0, 1);
	position: relative;
	padding-left: 40px;
	font-family: 'Righteous', cursive;
}
.login .logo .chart {
	background: url(image/chart.png) no-repeat;
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0;
	top: 3px;
}
.login-form {
	padding: 5px 30px 5px 5px;
	margin: 15px 0 30px 0;
	/*border-bottom: 1px solid #fff;
	background: rgba(166, 156, 141, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(166, 156, 141, 0.3) inset;
	-moz-box-shadow: 0 1px 1px rgba(166, 156, 141, 0.3) inset;
	-o-box-shadow: 0 1px 1px rgba(166, 156, 141, 0.3) inset;
	box-shadow: 0 1px 1px rgba(166, 156, 141, 0.3) inset;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;*/
	width: 400px;
}
.login-form .control-group {
	margin-bottom: 25px;
}
.login-form .control-group .add-on {
	height: 28px;
	width: 28px;
	-webkit-box-shadow: 0 1px 0px #fff;
	-moz-box-shadow: 0 1px 0px #fff;
	-o-box-shadow: 0 1px 0px #fff;
	box-shadow: 0 1px 0px #fff;
}
.login-form .control-group .add-on i {
	margin-top: 7px;
}
.login-form input {
    border-radius: 2px;
    margin: 0;
    padding: 9px 12px;
    font-size: 15px;
    color: #444;
    width: 333px;
	-webkit-box-shadow: 0 1px 0px #fff;
	-moz-box-shadow: 0 1px 0px #fff;
	-o-box-shadow: 0 1px 0px #fff;
	box-shadow: 0 1px 0px #fff;
	font-size: 17px;
	color: #666;
}
.login-form input:focus {
	border-color: #999;
}
.login-form hr {
  border: 0;
  margin: 15px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #fff;
}
.login-form .form-actions {
	background: none;
	border: none;
	padding: 10px 0;
	margin: 0;
}
.login-form .form-actions .btn {
	padding: 10px 25px;
	font-size: 18px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(0, 0, 0, 1);
	font-weight: 600;
	font-family: 'Righteous', cursive;
}