body {
	padding-top: 40px;
}
body, p, label, textarea, input {
	font-family: "Montserrat", "Microsoft YaHei", "arial", "sans-serif";
	line-height: 1.6em;
}
textarea {
	resize: none;
}
.c {
	clear: both;
}
a {
	color: #0069D6;
}
a:hover {
	color: #03C;
	text-decoration: underline;
}
pre {
	margin-right: 7px;
}
.margin-right15 {
	margin-right: 15px;
}
.margin-top15 {
	margin-top: 15px;
}
/* navbar */
.navbar .navbar-inner {
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:0.8;
}
.navbar a {
	font-size: 15px;
	font-weight: bold;
}
/* wrap */
.wrap {
}
/* main */
.main {
	background: #FFF;
	padding-top: 15px;
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.04);
	-moz-box-shadow: 1px 0 3px rgba(0,0,0,0.04);
	box-shadow: 1px 0 3px rgba(0,0,0,0.04);
}
.main .col {
	margin-left: 0;
	padding-right: 7px;
}

/* sidebar */
.sidebar {
	padding: 15px 0 0 0;
}
.sidebar .extra a{
	float: right;
	margin-left: 5px;
}
.sidebar .cmd h3 a {
	font-size: 13px;
}
.sidebar ul {
	margin-left: 0;
}
.sidebar li {
	line-height: 1.5em;
	list-style: none;
}
.sidebar .calendar td{
	padding: 2px 0;
	text-align: center;
	color: #999;
}
.sidebar .calendar td.current{
	font-size: 1.3em;
	color: #000;
	text-shadow: 0 1px 0 #FFF;
}
.sidebar .calendar td a{
	color: #FFF;
	background: #FF3333;
	font-weight: bold;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	margin: 0 auto;
}
.sidebar .post-image h3 small {
	color: #0069D6;
	font-size: 18px;
	font-weight: bold;
}
.sidebar .post-image .col {
	margin: 0 9px 0 0;
}
.sidebar .post-image .single {
	margin: 0 3px 5px 0;
	width: 55px;
}
.sidebar .recent-comment li {
	border-bottom: 1px #F0F0F0 solid;
	padding: 6px 0;
}
.sidebar .recent-comment strong {
	color: #333;
	margin-right: 5px;
}
/* post-attr */
.post-date ,
.vote ,
.post-data ,
.post-sincetime ,
.post-meta {
	margin:0;
	border:1px #DDD solid;
	border-top:none;
	background:#FFF;
	padding: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
/* post-date */
.post-date ul {
	float: right;
	display: block;
	margin: 0;
}
.post-date ul.col1 {
	width: 45%;
}
.post-date ul.col2 {
	width: 28%;
}
.post-date li{
	list-style:none;
}
.post-date .year{
	font-size:18px;
	color:#000;
	text-shadow:0 1px 0 #FFF;
	line-height:16px;
}
.post-date .month-day{
	font-size:14px;
	text-align:right;
	line-height:12px;
}
.post-date .time{
	font-size:8px;
	text-align:center;
	color:#999;
	line-height:8px;
}
.post-date .weekday{
	text-align:center;
	font-size:20px;
	color:#FFF;
	background: #F33;
	font-weight:bold;
	display:block;
	width:22px;
	height:22px;
	line-height:22px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	margin-left:5px;
}
/* post-date */
/* vote */
.vote{
	padding:7px;
	background:#FBFBFB;
}
.vote li{
	list-style: none;
	text-align: right;
}
.vote li strong{
	font-size:22px;
	color:#000;
	text-shadow:0 1px 0 #FFF;
}
/* vote */

/* post-data */
.post-data{
	background:#F0F0F0;
}
.post-data li{
	list-style:none;
	text-align:right;
}
.post-data li strong{
	font-size:22px;
	color:#000;
	text-shadow:0 1px 0 #FFF;
}
/* post-data */

/* post-sincetime */
.post-sincetime{
	padding:7px;
	background:#FFF;
	text-align:right;
	font-size:11px;
}
.post-sincetime strong{
	font-size:22px;
	color:#000;
	text-shadow:0 1px 0 #FFF;
}
/* post-sincetime */

/* post-meta */
.post-meta li{
	list-style:none;
}
/* post-meta */
/* post-op */
.post-op {
	margin-top: 10px;
}
.post-op .btn {
	width: 28px;
}

/* post-entry */
.post-entry p {
	font-size: 1.1em;
	color: #333;
	margin: 10px 0;
	text-indent: 2em;
	padding: 0 5px;
}
/* post-row */
.post-row .post-entry {
	margin-left: 16.89361702%;
}
/* post-fragment */
.post-fragment {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #EAEAEA solid;
}
.post-content {
	padding-right: 6px;
}
/* pager */
.pager {
	padding-right: 7px;
}

/* archive */
.archive h2 {
	margin-bottom: 10px;
}
.archive .archive-attr {
	text-align: right;
	padding-right: 5px;
}
.archive .single {
	margin-top: 10px;
}
/* author */
.author {
    margin-top: 15px;
}
.author-con {
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.author-tip {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px #EEE solid;
}
.author-tip .tip-txt {
	font-size: 18px;
	font-weight: bold;
}
/* comment */
.comment {
	clear: both;
	padding: 15px 0;
	border-top: 1px #EEE solid;
	background: #FAFAFA;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
	margin-top: 25px;
}
.comment .comment-list {
	margin-left: 0;
}
.comment .reply-list {
	margin: 10px 0 0 0;
}
.comment .comment-header {
	text-align: center;
	color: #0069D6;
	font-size: 30px;
}
.comment .comment-header .icon-comment-large {
	margin-left: 25px;
}
.comment .comment-header h2 {
	font-size: 30px;
	margin-bottom: 7px;
}
.comment .comment-body {
	margin-left: 3px;
}
.comment .comment-body .single {
	border-bottom: 1px #E9E9E9 solid;
	clear: both;
	padding: 10px 0;
	list-style: none;
}
.comment .comment-body .single .comment-form {
	border: none;
}
.comment .comment-body .single .btn {
	margin-right: 0;
}
.comment .comment-avatar {
	width: 10%;
}
.comment .comment-entry {
	width: 83%;
}
.comment .comment-entry h4 {
	margin-bottom: 5px;
	color: #0069D6;
}
.comment .comment-entry h4 small {
	font-size: 10px;
	color: #666;
	font-weight: normal;
	float: right;
}
.comment-form {
	padding-top: 15px;
	clear: both;
}
.comment-form .add-on {
	height: 24px;
}
.comment-form .add-on i {
	margin-top: 4px;
}
.comment-form input {
	padding: 7px;
}
.comment-form .span6 {
	margin-left: 0;
}
.comment-form textarea {
	height: 80px;
}
.comment-form .form-actions {
	background: none;
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
/* reply */
.comment .comment-body .reply {
	background: #FEFEFE;
	border: 1px #DEDEDE solid;
	margin-top: 5px;
	position: relative;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
.comment .comment-body .reply .icon-bubble {
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.comment .comment-body .reply .comment-avatar {
	float: right;
	margin-right: 15px;
}
.comment .comment-alert {
	margin-top: 10px;
}
/* reply */
/* comment */

/* tag */
.tag {
	padding-right: 15px;
}
.tag a {
	line-height: 1em;
}

/* footer */
.footer{
	background: #F0F0F0;
	z-index: -999;
	border: none;
	margin: 0;
	height: auto;
	border-top: 1px #CCC solid;
	padding: 0;
}
.footer .inner{
	border-top: 1px #FFF solid;
}
.footer .single h4 {
	padding-bottom: 7px;
}
.footer .single{
	padding: 25px 0 20px 0;
}
.footer .single ul{
	margin: 0 0 5px 0;
	padding-bottom: 10px;
}
.footer .single li{
	position: relative;
	line-height: 18px;
}
.footer li a{
	color: #666;
	font-size: 1em;
	display: block;
	padding: 5px;
	border-bottom: 1px #DDD solid;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1);
	box-shadow: 0 1px 0 rgba(255,255,255,1);
}
.footer li a:hover{
	color: #000;
	text-decoration: none;
}
.footer .third-party-app li .icon{
	left: 5px;
	top: 5px;
}
.footer .single h4{
	text-shadow: 0 1px 0 #FFF;
	font-size: 1.1em;
	border-bottom: 1px #DDD solid;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1);
	box-shadow: 0 1px 0 rgba(255,255,255,1);
}
.footer .logo{
	display: block;
	background: url(image/icon.gif) no-repeat 0 -262px;
	width: 170px;
	height: 38px;
	margin-top: 7px;
}

/* btn */
.btn-more {
	margin-right: 10px;
}
.btn-ding i,
.btn-cai i {
	margin: 2px 3px 0 0;
}

/* icon */
.icon-paperen {
	background: url(image/icon.gif) no-repeat 0 0;
}
.icon-rss {
	background-position: 0 0;
	width: 30px;
	height: 30px;
}
.icon-weibo {
	background-position: 0 -30px;
	width: 30px;
	height: 30px;
}
.icon-weibo-16x16 {
	background-position: 0 -92px;
	width: 16px;
	height: 13px;
}
.icon-comment-large {
	background-position: 0 -60px;
	width: 32px;
	height: 32px;
}
.icon-ding {
	background-position: 0 -105px;
	width: 12px;
	height: 12px;
}
.icon-cai {
	background-position: 0 -117px;
	width: 12px;
	height: 12px;
}
.icon-calendar-small {
	background-position: 0 -129px;
	width: 16px;
	height: 16px;
}
.icon-bubble {
	background-position: 0 -145px;
	width: 16px;
	height: 14px;
}

/* thumbnail */
.thumbnail {
    background: #FFF;
}

/* p-modal */
.p-modal.fade.in {
	top: 70%;
	overflow: hidden;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.qtm {
	background: url(image/qtm.gif);
	display: block;
	width: 95px;
	height: 99px;
	margin : 0 auto;
}

/* SLIMBOX2 */
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer;}
#lbCenter, #lbBottomContainer{position:absolute;z-index: 9999;overflow: hidden;background-color:#fff;}
.lbLoading{background:#fff url(image/loading.gif) no-repeat center;}
#lbImage {position:absolute;left:0;top:0;border:6px solid #fff;background-repeat:no-repeat;}
#lbPrevLink,#lbNextLink{display: block;position: absolute;top:0;width:50%;outline:none;}
#lbPrevLink{left:0;}
#lbPrevLink:hover{background:transparent url(image/prevlabel.gif) no-repeat 0 15%;}
#lbNextLink{right:0;}
#lbNextLink:hover{background:transparent url(image/nextlabel.gif) no-repeat 100% 15%;}
#lbCaption,#lbNumber,#lbCloseLink,#lbBottom{display:none;}